body {
  font-family: "Roboto", sans-serif;
  background: #29e6e8;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  margin: 0 auto;
  width: 640px;
  max-width: 80%;
}
.list {
  list-style: none;

}

.list-item {
  background-color: white;
  margin: 8px;
  padding: 2rem;
  border-radius: 4px;
  border: 1px solid black;
}

.list-item a {
  font-size: 2rem;
  text-decoration: none;
  color: #1c2022;
}

.card {
  background-color: white;
  margin: 8px;
  padding: 2rem;
  border-radius: 4px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem;
}



@media (min-width: 768px) {
  .navbar-container {
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;
  }
  .navbar-container .navbar {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
  }
  .navbar-container .navbar-collapse {
    align-items: flex-start;
  }
  .navbar-container .nav {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navbar-container .navbar-nav {
    flex-direction: column !important;
  }
}